*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    min-width: 100%;
    position: fixed;
    z-index: 1;
    min-height: 7vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #004242;
}

#main-header {
    font-weight: 900;
    font-size: 35px;
    color: aliceblue;
}

#sub-header{
    font-weight: 900;
    font-size: 10px;
    color: aliceblue;
    position: absolute;
    top: 46px;
    left: 197px;
}

#child-1 {
    margin-left: 150px;
}