<app-header></app-header>
<div id="main">
    <!-- <nav class="main-menu">
        <ul>
            <li>
                <a routerLink="/users">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
        </ul>
    </nav> -->
    <div>
        <div>
            <div class="content">
                <tabset #tabset>
                    <tab heading="Crops">
                        <div class="text-right" *ngIf="userType == 'farm analyzer'">
                            <button class="btn btn-primary" (click)="addCrop" data-toggle="modal"
                                data-target="#addCropModal">Add crops</button>
                        </div>
                        <div class="modal fade" id="addCropModal" tabindex="-1" role="dialog"
                            aria-labelledby="addCropModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addCropModalTitle">ADD CROP</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            #closeAddCropPopUp>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="addCropForm" (ngSubmit)="addCrop()">
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-5 pb-3">
                                                            <span class="input-heading">CropName</span>
                                                        </div>
                                                        <div class="col-7">
                                                            <input class="login-input" type="text" name="cropName"
                                                                formControlName="cropName">
                                                            <div
                                                                *ngIf="cropName.invalid && (cropName.dirty || cropName.touched || submitted)">
                                                                <small class="error-message-login"
                                                                    *ngIf="cropName.errors?.['required']">Password is
                                                                    required.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pb-3">
                                                            <span class="input-heading">Description</span>
                                                        </div>
                                                        <div class="col-7">
                                                            <textarea name="description" cols="30" rows=""
                                                                formControlName="description"
                                                                class="login-input-textArea">
                                                            </textarea>
                                                            <div
                                                                *ngIf="description.invalid && (description.dirty || description.touched || submitted)">
                                                                <small class="error-message-login"
                                                                    *ngIf="description.errors?.['required']">Description
                                                                    is
                                                                    required.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pb-3">
                                                            <span class="input-heading">Image Url</span>
                                                        </div>
                                                        <div class="col-7">
                                                            <input class="login-input" type="url" name="imageUrl"
                                                                formControlName="imageUrl">
                                                            <div
                                                                *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched || submitted)">
                                                                <small class="error-message-login"
                                                                    *ngIf="imageUrl.errors?.['required']">ImageUrl is
                                                                    required.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pb-3">
                                                            <span class="input-heading">Water Required Per Sq Feet (in
                                                                liters)</span>
                                                        </div>
                                                        <div class="col-7">
                                                            <input class="login-input" type="number"
                                                                name="waterRequiredPerSqFeet"
                                                                formControlName="waterRequiredPerSqFeet">
                                                            <div
                                                                *ngIf="waterRequiredPerSqFeet.invalid && (waterRequiredPerSqFeet.dirty || waterRequiredPerSqFeet.touched || submitted)">
                                                                <small class="error-message-login"
                                                                    *ngIf="imageUrl.errors?.['required']">WaterRequiredPerSqFeet
                                                                    is
                                                                    required.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pb-3">
                                                            <span class="input-heading">Time Period (in months)</span>
                                                        </div>
                                                        <div class="col-7">
                                                            <input class="login-input" type="number" name="timePeriod"
                                                                formControlName="timePeriod">
                                                            <div
                                                                *ngIf="timePeriod.invalid && (timePeriod.dirty || timePeriod.touched || submitted)">
                                                                <small class="error-message-login"
                                                                    *ngIf="timePeriod.errors?.['required']">TimePeriod
                                                                    is
                                                                    required.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pb-3">
                                                            <span class="input-heading">Start Season</span>
                                                        </div>
                                                        <div class="col-7">
                                                            <select formControlName="startSeason" class="dropDown">
                                                                <option *ngFor="let month of months" [value]="month.id">
                                                                    {{month.month}}</option>
                                                            </select>
                                                            <div
                                                                *ngIf="startSeason.invalid && (startSeason.dirty || startSeason.touched || submitted)">
                                                                <small class="error-message-login"
                                                                    *ngIf="startSeason.errors?.['required']">startSeason
                                                                    is
                                                                    required.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 pb-3">
                                                            <span class="input-heading">End Season</span>
                                                        </div>
                                                        <div class="col-7">
                                                            <select formControlName="endSeason" class="dropDown">
                                                                <option *ngFor="let month of months" [value]="month.id">
                                                                    {{month.month}}</option>
                                                            </select>
                                                            <div
                                                                *ngIf="endSeason.invalid && (endSeason.dirty || endSeason.touched || submitted)">
                                                                <small class="error-message-login"
                                                                    *ngIf="endSeason.errors?.['required']">EndSeason is
                                                                    required.</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="crops-card-position">
                            <div *ngFor="let crop of cropsData">
                                <div class="card" id="card-position">
                                    <div class="card-body">
                                        <img class="card-img-top" src={{crop.imageUrl}} alt="Card image cap" width="50"
                                            height="200">
                                        <h6 class="mt-2 mb-2 text-muted"><span class="headingName">Crop Name:</span>
                                            <span class="heading-value">{{crop.cropName}}</span>
                                        </h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Description:</span> <span
                                                class="heading-value">{{crop.description}}</span></h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Time Period: </span> <span
                                                class="heading-value">{{crop.timePeriod}}</span></h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Water Required Per Sq
                                                Feet:</span> <span
                                                class="heading-value">{{crop.waterRequiredPerSqFeet}}</span></h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Added By:</span> <span
                                                class="heading-value">{{crop.addedBy.fullName}}</span></h6>
                                        <div class="text-right"
                                            *ngIf="(userType == 'farm analyzer' && crop.owned == true)">
                                            <button class="btn btn-danger mr-3"
                                                (click)="deleteCrop(crop)">Delete</button>
                                            <button class="btn btn-primary" (click)="editCrop(crop)" data-toggle="modal"
                                                data-target="#editCropModal">Edit</button>
                                        </div>
                                        <div class="modal fade" id="editCropModal" tabindex="-1" role="dialog"
                                            aria-labelledby="editCropModalTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editCropModalTitle">Edit CROP</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close" #closeAddCropPopUp>
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form [formGroup]="editCropForm" (ngSubmit)="editCropDialog()">
                                                            <div class="modal-body">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-5 pb-3">
                                                                            <span class="input-heading">CropName</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <input class="login-input" type="text"
                                                                                name="cropName"
                                                                                formControlName="cropName">
                                                                            <div
                                                                                *ngIf="cropName.invalid && (cropName.dirty || cropName.touched || submitted)">
                                                                                <small class="error-message-login"
                                                                                    *ngIf="cropName.errors?.['required']">CropName
                                                                                    is
                                                                                    required.</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 pb-3">
                                                                            <span
                                                                                class="input-heading">Description</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <textarea name="description" cols="30"
                                                                                rows="" formControlName="description"
                                                                                class="login-input-textArea">

                                                                        </textarea>
                                                                            <div
                                                                                *ngIf="description.invalid && (description.dirty || description.touched || submitted)">
                                                                                <small class="error-message-login"
                                                                                    *ngIf="description.errors?.['required']">Description
                                                                                    is
                                                                                    required.</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 pb-3">
                                                                            <span class="input-heading">ImageUrl</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <input class="login-input" type="url"
                                                                                name="imageUrl"
                                                                                formControlName="imageUrl">
                                                                            <div
                                                                                *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched || submitted)">
                                                                                <small class="error-message-login"
                                                                                    *ngIf="imageUrl.errors?.['required']">ImageUrl
                                                                                    is
                                                                                    required.</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 pb-3">
                                                                            <span class="input-heading">Water Required
                                                                                Per Sq Feet(in liters)</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <input class="login-input" type="number"
                                                                                name="waterRequiredPerSqFeet"
                                                                                formControlName="waterRequiredPerSqFeet">
                                                                            <div
                                                                                *ngIf="waterRequiredPerSqFeet.invalid && (waterRequiredPerSqFeet.dirty || waterRequiredPerSqFeet.touched || submitted)">
                                                                                <small class="error-message-login"
                                                                                    *ngIf="imageUrl.errors?.['required']">WaterRequiredPerSqFeet
                                                                                    is
                                                                                    required.</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 pb-3">
                                                                            <span
                                                                                class="input-heading">TimePeriod</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <input class="login-input" type="number"
                                                                                name="timePeriod"
                                                                                formControlName="timePeriod">
                                                                            <div
                                                                                *ngIf="timePeriod.invalid && (timePeriod.dirty || timePeriod.touched || submitted)">
                                                                                <small class="error-message-login"
                                                                                    *ngIf="timePeriod.errors?.['required']">TimePeriod
                                                                                    is
                                                                                    required.</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 pb-3">
                                                                            <span class="input-heading">Start
                                                                                Season</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <select formControlName="startSeason"
                                                                                class="dropDown">
                                                                                <option *ngFor="let month of months"
                                                                                    [value]="month.id">{{month.month}}
                                                                                </option>
                                                                            </select>
                                                                            <div
                                                                                *ngIf="startSeason.invalid && (startSeason.dirty || startSeason.touched || submitted)">
                                                                                <small class="error-message-login"
                                                                                    *ngIf="startSeason.errors?.['required']">startSeason
                                                                                    is
                                                                                    required.</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 pb-3">
                                                                            <span class="input-heading">End
                                                                                Season</span>
                                                                        </div>
                                                                        <div class="col-7">
                                                                            <select formControlName="endSeason"
                                                                                class="dropDown">
                                                                                <option *ngFor="let month of months"
                                                                                    [value]="month.id">{{month.month}}
                                                                                </option>
                                                                            </select>
                                                                            <div
                                                                                *ngIf="endSeason.invalid && (endSeason.dirty || endSeason.touched || submitted)">
                                                                                <small class="error-message-login"
                                                                                    *ngIf="endSeason.errors?.['required']">EndSeason
                                                                                    is
                                                                                    required.</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save
                                                                    changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Forecast">

                        <div class="form-group">
                            <!-- <label>Enter Your Location</label> -->
                            <form action="" [formGroup]="forcastFormData" (ngSubmit)="formSubmit()">
                                <div id="foreCast">
                                    <div>
                                        <span>Enter Current Location</span>
                                        <input type="text" (keydown.enter)="$event.preventDefault()"
                                            placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                                            spellcheck="off" type="text" formControlName="coordinates" #search>
                                    </div>
                                    <div>
                                        <span>Crops</span>
                                        <select formControlName="cropId">
                                            <option value="" default>Select Crop</option>
                                            <option *ngFor="let crop of cropsData" value={{crop?._id}}>{{crop.cropName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div>
                                        <span>Area (in accers)</span>
                                        <input type="text" placeholder="Enter Area" formControlName="areaOfFarm">
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Generate forecast</button>
                                    </div>
                                </div>
                            </form>
                            <div *ngIf="setForeCast" class="d-flex justify-content-center">
                                <div class="card justify-content-center" id="card-position-for-foreCastData">
                                    <div class="card-body">
                                        <h2 class="card-title mb-2 text-muted text-center w-100" *ngIf="foreCastData?.successRate.trim() === '100 %'"><span
                                            class="heading-value success">Success</span>
                                    </h2>
                                    <h6 class="mb-2 text-muted text-center" *ngIf="foreCastData?.successRate.trim() < '100 %'"><span class="headingName">Success Rate:</span> <span
                                        class="heading-value fail">Fail</span>
                                    </h6>
                                        <img class="card-img-top" src={{foreCastData?.imageUrl}} alt="Card image cap"
                                            width="50" height="200">
                                        <h6 class="mt-2 mb-2 text-muted"><span class="headingName">Crop Name:</span>
                                            <span class="heading-value">{{foreCastData?.cropName}}</span>
                                        </h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Description:</span> <span
                                                class="heading-value">{{foreCastData?.description}}</span></h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Time Period: </span> <span
                                                class="heading-value">{{foreCastData?.timePeriod}}</span></h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Water Required Per Sq
                                                Feet:</span> <span
                                                class="heading-value">{{foreCastData?.waterRequiredPerSqFeet}}</span>
                                        </h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">probability Of Water:</span> <span
                                                class="heading-value">{{foreCastData?.probabilityOfWater}}</span>
                                        </h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">total Water Required:</span> <span
                                                class="heading-value">{{foreCastData?.totalWaterRequired}}</span>
                                        </h6>
                                        <h6 class="mb-2 text-muted"><span class="headingName">Success Rate:</span> <span
                                                class="heading-value">{{foreCastData.successRate}}</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <h5>Address: {{address}}</h5>
                        <div>Latitude: {{latitude}}</div>
                        <div>Longitude: {{longitude}}</div> -->
                    </tab>
                </tabset>


            </div>
        </div>

    </div>